VITE_SUPABASE_URL=https://jucgbqlmxhiqohtcpbtj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1Y2dicWxteGhpcW9odGNwYnRqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI4MDY1NTQsImV4cCI6MjA4ODM4MjU1NH0.YQ3LE0mhrXes76p9y7tgzat6hruJQ6Gc-ECw3c6toxs
